@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit Card";
}

@model TradingCardGame.Models.Card.EditCardInputModel

<link rel="stylesheet" href="~/css/createCard.css" />

<div>
    <div class="form-container">
        <form asp-controller="Card" asp-action="Edit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" id="channel" name="ChannelName" asp-for="ChannelName"/>
            <input type="hidden" asp-for="@Model.Id" name="id" value="@Model.Id"/>
            <div class="form-group">
                <input asp-for="Name" placeholder="Card name" class="form-control" value="@Model.Name"/>
            </div>
            <div class="form-group">
                <input asp-for="Image" placeholder="Card image" class="form-control" value="@Model.Image"/>
            </div>
            <div class="form-group">
                <select asp-for="Type" class="custom-select" id="typeSelect">
                    <option value="Trap">Trap</option>
                    <option value="Spell">Spell</option>
                    <option value="Dragon">Dragon</option>
                    <option value="Fire">Fire</option>
                    <option value="Water">Water</option>
                    <option value="Earth">Earth</option>
                    <option value="Air">Air</option>
                </select>
            </div>
            <div class="form-group">
                <textarea asp-for="Description" placeholder="Card description" class="form-control" rows="5" value="@Model.Description"></textarea>
            </div>
            <div class="form-group">
                <input asp-for="Attack" placeholder="Card attack" class="form-control" value="@Model.Attack"/>
            </div>
            <div class="form-group">
                <input asp-for="Defense" placeholder="Card defense" class="form-control" value="@Model.Defense"/>
            </div>
            <button class="btn btn-primary w-100">Edit Card</button>
        </form>
    </div>
    <div class="card-preview-container">
        <div class="card-preview">
            <div class="card-name">
                <span id="cardName">@Model.Name</span>
            </div>
            <div class="card-image">
                <img src="@Model.Image" id="cardImage" />
            </div>
            <div class="card-description">
                <p id="cardDescription">[@Model.Type]<br />@Model.Description</p>
            </div>
            <div class="card-stats" id="cardStats">
                ATT: @Model.Attack | DEF: @Model.Defense
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/createCard.js"></script>
}
